<% content_for :top_content do %>


  <div class="">

<div class="container">

  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Hello <%= current_user.name.capitalize %>,</h5>
      <br/>
      <h4 class="card-text" style="text-decoration: underline">Profile Details: </h4>
      <p class="card-text">Email: <%= current_user.email %></p>
      <% if current_user.user_type_id == 1 %>
      <p class="card-text">Role: Doctor</p>
      <% elsif current_user.user_type_id == 3 %>
      <p class="card-text">Role: Pharmacist</p>
      <% else current_user.user_type_id == 2 %>
      <p class="card-text">Role: Patient</p>
      <% end %>
    </div>
  </div>

  <br/><br/>

  <% if [1, 3].include? current_user.user_type_id %>
    <h3>Patients: </h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Select</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.name %></td>
          <td><%= patient.email %></td>
          <td><%= link_to "Select", documents_list_documents_path({:user_id => current_user.id.to_s, :patient_id => patient.id.to_s}), method: :get %></td>
          <td></td>
        </tr>
      <% end %>

      </tbody>
    </table>
  <% end %>

  <% if current_user.user_type_id == 2 %>
    <h3>Requests Pending for Approval:</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="field">Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>File Name</th>
        <th>Status</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @requestors.each do |requestor| %>
        <tr>
          <td><%= requestor.requestor.name %></td>
          <td><%= requestor.requestor.email %></td>
          <% if requestor.requestor.user_type_id == 1%>
          <td> Doctor </td>
          <% elsif requestor.requestor.user_type_id == 3%>
          <td> Pharmacist </td>
          <% end %>
          <td><%= requestor.document.file_name %></td>
          <td> Pending </td>
          <td><%= link_to "Approve", users_approve_request_path({:user_id => current_user.id.to_s, :requestor_id => requestor.requestor.id.to_s, :document_id => requestor.document_id}), method: :put %></td>
          <td><%= link_to "Deny", users_deny_request_path({:user_id => current_user.id.to_s, :requestor_id => requestor.requestor.id.to_s, :document_id => requestor.document_id}), method: :put %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
  </div>
<% end %>
